@model eEvento.Models.Evento

@{
    ViewBag.Title = "Cadastrar Evento";
}


<div class="container mt-5">
    <h2 class="text-center mb-4">Criar Novo Evento</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="row">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <h5>Detalhes do Evento</h5>
            </div>
            <div class="card-body">


                <div class="form-group">
                    <strong>@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })</strong>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome do Evento" } })
                   
                </div>

                <div class="form-group">
                    <strong>@Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })</strong>
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", placeholder = "Descrição do Evento" } })

                </div>

                <div class="form-group">
                    <strong>@Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label" })</strong>
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <h5>Mais Informações</h5>
            </div>
            <div class="card-body">

                <div class="form-group">
                    <strong>@Html.LabelFor(model => model.LocalId, "Local", htmlAttributes: new { @class = "control-label" })</strong>
                    @Html.DropDownList("LocalId", new SelectList(ViewBag.Locais, "LocalId", "Nome"), "Selecione um local", htmlAttributes: new { @class = "form-control" })

                </div>


                <div class="form-group">
                    <strong>@Html.LabelFor(model => model.Capacidade, htmlAttributes: new { @class = "control-label" })</strong>
                    @Html.EditorFor(model => model.Capacidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Capacidade do Evento" } })

                </div>

                <div class="form-group">
                    <strong>@Html.LabelFor(model => model.OrganizadorId, "Organizador", htmlAttributes: new { @class = "control-label" })</strong>
                    @Html.DropDownList("OrganizadorId", new SelectList(ViewBag.Organizadores, "OrganizadorId", "Nome"), "Selecione um organizador", htmlAttributes: new { @class = "form-control" })

                </div>


            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-plus"></i> Salvar
            </button>
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    </div>
</div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
