@model eEvento.Models.Evento

@{
    ViewBag.Title = "Novo Evento";
}


<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Detalhes do Evento</h5>
                    </div>
                    <div class="card-body">


                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })</strong>
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome do Evento" } })

                        </div>

                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })</strong>
                            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", placeholder = "Descrição do Evento" } })

                        </div>

                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label" })</strong>
                            @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Mais Informações</h5>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.LocalId, "Local", htmlAttributes: new { @class = "control-label" })</strong>
                            @Html.DropDownList("LocalId", new SelectList(ViewBag.Locais, "LocalId", "Nome"), "Selecione um local", htmlAttributes: new { @class = "form-control" })

                        </div>


                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.Capacidade, htmlAttributes: new { @class = "control-label" })</strong>
                            @Html.EditorFor(model => model.Capacidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Capacidade do Evento" } })

                        </div>

                        <div class="form-group">
                            <strong>@Html.LabelFor(model => model.OrganizadorId, "Organizador", htmlAttributes: new { @class = "control-label" })</strong>
                            @Html.DropDownList("OrganizadorId", new SelectList(ViewBag.Organizadores, "OrganizadorId", "Nome"), "Selecione um organizador", htmlAttributes: new { @class = "form-control" })

                        </div>


                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <a href="@Url.Action("Index")" class="btn btn-secondary me-2">
                    <i class="bi bi-arrow-left-circle"></i> Voltar
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-save"></i> Salvar
                </button>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
