@model IEnumerable<eEvento.Models.Evento>

@{
    ViewBag.Title = "Eventos";
}

<div class="container mt-5">

    <div class="text-right mb-3">
        @Html.ActionLink("Novo Evento", "Create", null, new { @class = "btn btn-success" })
    </div>

    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary text-white">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted"><strong>Local:</strong> @Html.DisplayFor(modelItem => item.Local.Nome)</h6>
                            <p class="card-text"><strong>Data:</strong>   @Html.DisplayFor(modelItem => item.Data)</p>
                        </div>
                        <div class="card-footer text-muted">
                            @Html.ActionLink("Detalhes", "Details", new { id = item.EventoId }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Editar", "Edit", new { id = item.EventoId }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Excluir", "Delete", new { id = item.EventoId }, new { @class = "btn btn-danger btn-sm" })
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12 text-center">
                <p>Nenhum evento encontrado. Por favor, crie um novo evento.</p>
            </div>
        }
    </div>
</div>
