@model IEnumerable<eEvento.Models.Evento>

@{
    ViewBag.Title = "Eventos";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">@ViewBag.Title</h2>
        <div class="d-flex">
            <form method="get" action="@Url.Action("Index")" class="d-flex me-2">
                <input type="text" name="searchTerm" class="form-control form-control-sm me-2" placeholder="Pesquisar evento" />
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <a href="@Url.Action("Create")" class="btn btn-success btn-sm">
                <i class="bi bi-plus-circle me-1"></i> Novo Evento
            </a>
        </div>
    </div>

    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card border-secondary">
                        <div class="card-header bg-secondary text-white">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted"><strong>Local:</strong> @Html.DisplayFor(modelItem => item.Local.Nome)</h6>
                            <p class="card-text"><strong>Data:</strong> @Html.DisplayFor(modelItem => item.Data)</p>
                        </div>
                        <div class="card-footer text-muted text-end">
                            <a href="@Url.Action("Edit", new { id = item.EventoId })" class="btn btn-warning btn-sm me-1">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <a href="@Url.Action("Details", new { id = item.EventoId })" class="btn btn-info btn-sm me-1">
                                <i class="bi bi-info-circle"></i> Detalhes
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.EventoId })" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Excluir
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12 text-center">
                <p>Nenhum evento encontrado. Por favor, crie um novo evento.</p>
            </div>
        }
    </div>
</div>
