@model eEvento.Models.Organizador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizadorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
